<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137229331689-eoclskj2mpqb8cihrp543c9ct7ela70e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137229331689-eoclskj2mpqb8cihrp543c9ct7ela70e</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRYrRbpP8_n2wY1exgYAvFFLkvsNC9QU</string>
	<key>GCM_SENDER_ID</key>
	<string>137229331689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naoki.Swift5WeatherForecast</string>
	<key>PROJECT_ID</key>
	<string>swift5weatherforecast-6470d</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5weatherforecast-6470d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137229331689:ios:d6bc19929c0de0c491d478</string>
	<key>DATABASE_URL</key>
	<string>https://swift5weatherforecast-6470d.firebaseio.com</string>
</dict>
</plist>